.required-star:after {
    color: red;
    content: " *";
}
.card-custom {
    border: none;
    box-shadow: 0px 5px 20px 0px #6f1667;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-small {
    width: 400px;
}
.v_label {
    color: #4e7aa2;
}

.error {
    border: 1px solid red !important;
}

input[type="radio"].error,
input[type="checkbox"].error {
    outline: 1px solid red;
}

.category-img {
    height: 100px;
    width: 120px;
    border-radius: 5px 5px 10px 5px;
    margin: 5px;
}

.user-details {
    padding-top: 0;
    width: 300px;
    right: 0;
    left: auto;
}

.inner-box {
    background: #fff;
    border-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 0 20px rgb(110 162 173 / 10%);
    margin-bottom: 30px;
    padding: 20px 15px;
}

.inner-box {
    background: #f5f5f5 none repeat scroll 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;
    box-shadow: none;
}

.collapse-box {
    margin-bottom: 15px;
}

.collapse-title {
    border-top: 1px solid #e6e6e6;
    color: #2a3744;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 15px;
    text-transform: uppercase;
}

.page-sidebar .inner-box {
    padding: 20px;
}

.inner-box {
    background: #f5f5f5 none repeat scroll 0 0;
    margin-bottom: 0;
    padding: 20px 15px;
}

.no-border {
    border: none;
}
.user-panel-sidebar ul {
    padding: 50px;
}

.user-panel-sidebar ul {
    padding: 50px;
}
.panel-collapse ul li a {
    background: #fff;
    display: block;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    color: #2a3744;
    font-size: 12px;
    height: auto;
    letter-spacing: 0.5px;
    line-height: 26px;
    padding: 5px 10px;
    margin-bottom: 1px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
}
.panel-collapse ul li a.active {
    background-color: #2a3744;
    color: #fff;
}

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --first-color: hsl(31, 100%, 70%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 99%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);

    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;

    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/

.logo__img {
    width: 200px;
    height: 60px;
}

.n{
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    font-family: 'Bangla', sans-serif;
}
.home__title {
    font-family: 'Bangla', sans-serif;
    color: #00AEEF;
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
}

.home__description {
    margin-bottom: var(--mb-1-5);
    font-size: small;
    margin-left: 30px;
}

.home__price {
    display: inline-block;
    font-family: 'Kalpurush', sans-serif;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0.5);
    color: rgb(48, 165, 165);
}

.home__img {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.featured__container {
    display: flex;


}

.featured__card {
    position: relative;
    text-align: center;
    background-color: rgb(233 233 215);
    padding: 5%;
    border-radius: 3%;
    transition: .3s;
    height: 200px;
    width: 300px;
    margin-top: 30px;

}
.featured__card:hover {
    position: relative;
    text-align: center;
    background-color: rgb(233 233 215);
    padding: 5%;
    border-radius: 3%;
    transition: .3s;
    height: 200px;
    width: 300px;

}

.featured__img {
    position: relative;
    width: 150px;
    height: 150px;
    top: -60px;
    z-index: 1;

}

.featured__img2 {
    position: relative;
    width: 150px;
    height: 150px;
    top: -60px;
    z-index: 1;
}

.featured__button {
    position: relative;
    font-family: 'Kalpurush', sans-serif;
    top: -60px;
    transform: translateY(1rem);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: medium;
    background-color:  rgb(233 233 215);
    color: rgb(145, 143, 143);
    border: 2px solid #07B0EF;
}

.featured__card:hover {

    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);

}


.featured__card:hover .featured__button {
    transform: scale(1);
    text-align: center;
    width: 150px;
    height: 40px;
    border:  2px solid rgb(60, 62, 62);
    background: none;
    color: #20aaaa;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.featured__container {
    row-gap: 5.5rem;

}

/* Style the tab */
.tab {
    display: flex;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {

}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 2px solid #3490dc;
}

.bg-exchange{
    background-color: #E9F8FF;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.p-item {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 5px 10px;
    margin-bottom: 0;
    display: flex;
    position: relative;
}
@media screen and (max-width: 576px) {
    .p-item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px 10px;
    }
    .p-item .product-title h4 a{
        font-size: 14px;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {

    .home__img-bg {
        width: 340px;

    }

    .featured__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: flex-start;
        gap: 4rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}